.destination
  .destination__header
    .destination__header__logo
      = image_tag 'logo/logo.png',class:'account__header--logo', alt:"FURIMA", width:"200px"
  .destination__main
    .destination__main__area
      %h2 住所情報登録
      .destination__main__area__form
        .destination__main__area__form__input
          = form_for @address do |f|
            = render "devise/shared/error_messages", resource: @address
            .field
              = f.label :お名前
              %span.require 必須
              %br/
              = f.text_field :destination_last_name, autofocus: true, placeholder: '例) 山田'
              = f.text_field :destination_first_name, autofocus: true, placeholder: '例) 太郎'

            .field
              = f.label :お名前カナ
              %span.require 必須
              %br/
              = f.text_field :destination_last_name_kana, autofocus: true,placeholder: '例) ヤマダ'
              = f.text_field :destination_first_name_kana, autofocus: true,placeholder: '例) タロウ'

            .field
              = f.label :郵便番号
              %span.require 必須
              %br/
              = f.text_field :post_code, autofocus: true,placeholder: '例) 1000005'

            .field
              = f.label :都道府県
              %span.require 必須
              %br/
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}

            .field
              = f.label :市区町村
              %span.require 必須
              %br/
              = f.text_field :city, autofocus: true,placeholder: '例) 千代田区丸の内'

            .field
              = f.label :番地 
              %span.require 必須
              %br/
              = f.text_field :address, autofocus: true,placeholder: '例) 三丁目3番1号'

            .field
              = f.label :建物名
              %span.Any 任意
              %br/
              = f.text_field :buliding_name, autofocus: true,placeholder: '例) 新東京ビル４F'

            .field
              = f.label :電話
              %span.Any 任意
              %br/
              = f.text_field :phone_number, autofocus: true,placeholder: '例) 090×××××××××'

            .actions
              = f.submit "登録する"
  .account__footer
    .Notice
      %ul
        %li
          = link_to "#",class:"link" do
            プライバシーポリシー
        %li
          = link_to "#",class:"link" do
            FURIMA利用規約
        %li
          = link_to "#",class:"link" do
            特定商取引に関する表記
    .Logo
      = link_to "#",class:"link" do
        = image_tag "logo/logo-white.png",class:'account__header__Logo', alt:"FURIMA", width:"200px"
      %p.CompanyName
        ©︎ FURIMA, Inc.