=render partial: 'items/Toppage-header'

.mypage
  =render partial: 'users/side-bar'
  .BookmarkWrapper
    .Title
      お気に入り一覧
    .BookmarkItems
      - @bookmarks.each do |bookmark|
        -if bookmark.item.buyer_id == nil
          .BookmarkItem
            .Image
              - image = Image.find_by(item_id: bookmark.item_id)
              = image_tag "#{image.url.url}" , alt: '商品画像',class:"Bookmark__image"
            .Info
              .Contents
                .Name
                  = bookmark.item.name
                .Price
                  = "¥#{bookmark.item.price}"
              .Allow
                = link_to item_path(bookmark.item_id), class:"GuideLink" do
                  %svg.style_right__2qI2e{"aria-hidden" => "true", :fill => "#0095ee", "fill-rule" => "evenodd", :height => "50", :viewbox => "0 0 24 24", :width => "30"}
                    %path{:d => "M9,19a.7.7,0,0,1-.49-.2.69.69,0,0,1,0-1l5.62-5.63a.28.28,0,0,0,.09-.21.27.27,0,0,0-.09-.2L8.6,6.19a.7.7,0,1,1,1-1l5.58,5.58A1.71,1.71,0,0,1,15.66,12a1.73,1.73,0,0,1-.49,1.2L9.54,18.8A.74.74,0,0,1,9,19Z"}
.Toppage-footer      
  = render partial: 'items/Toppage-footer'  