=render partial: 'items/Toppage-header'

.mypage
  =render partial: 'users/side-bar'
  
  .CardInfoWrapper
    .CardInfo
      .CardInfo__Title
        お客様のカード情報
      - if @default_card_information.blank?
        .NoCard
          カード情報がありません
        .DeleteCardBtn
          = link_to cardnew_users_path, class: "cardbtn", method: :get do
            登録する
      - else
        .CardContents
          .CardContents__Num
            カード番号：
            = "**** **** **** " + @default_card_information.last4
          .CardContents__Brand
            =image_tag "#{@card_src}",class: "image", alt: "カード会社"
        .CardInfo__Exp
          有効期限：
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        .DeleteCardBtn
          = link_to user_path(:id), class: "cardbtn", method: :delete do
            削除して再登録する

=link_to new_item_path  do
  .purchase-btn
    %span.purchase-btn__text 
      出品する
    .purchase-btn__img
      =image_tag 'icon/icon_camera.png',alt:"画像表示エラー" ,size:54

.Toppage-footer      
  = render partial: 'items/Toppage-footer'  