.login
  .login__header
    .login__header__logo
      = image_tag 'logo/logo.png',class:'account__header--logo', alt:"FURIMA", width:"200px"
  .login__box
    .login__box__inner
      -# = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "Contents__btn Contents__btn--google" do
      -#   = icon('fab', 'google',  class: "Contents__btn--icon")
      -#   Googleでログイン
      = link_to "#", class: "Contents__btn Contents__btn--google" do
        = icon('fab', 'google',  class: "Contents__btn--icon")
        Googleでログイン
      -# = link_to user_facebook_omniauth_authorize_path, method: :post, class: "Contents__btn Contents__btn--facebook" do
      -#   = icon('fab', 'facebook',  class: "Contents__btn--icon")
      -#   Facebookでログイン
      = link_to "#", class: "Contents__btn Contents__btn--facebook" do
        = icon('fab', 'facebook',  class: "Contents__btn--icon")
        Facebookでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .box-email
          = f.label :email, "Eメール"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .box-password
          .a-row
            .column-left
              = f.label :password, "パスワード"
            .column-right
              = link_to "パスワードを忘れた場合"
          = f.password_field :password, autocomplete: "current-password"
        .box-login
          = f.submit "ログイン"
      .box-newusr
        %p
          %span ---------
          アカウントをお持ちでない方はこちら
          %span ---------
        = link_to "新規会員登録", new_user_path
  .account__footer
    .Notice
      %ul
        %li
          = link_to "#",class:"link" do
            プライバシーポリシー
        %li
          = link_to "#",class:"link" do
            FURIMA利用規約
        %li
          = link_to "#",class:"link" do
            特定商取引に関する表記
    .Logo
      = link_to "#",class:"link" do
        = image_tag "logo/logo-white.png",class:'account__header__Logo', alt:"FURIMA", width:"200px"
      %p.CompanyName
        ©︎ FURIMA, Inc.

