.ItemFooter
  .Notice
    %ul
      %li
        = link_to "#",class:"link" do
          プライバシーポリシー
      %li
        = link_to "#",class:"link" do
          FURIMA利用規約
      %li
        = link_to "#",class:"link" do
          特定商取引に関する表記
  .Logo
    = link_to "#",class:"link" do
      = image_tag 'logo/logo.png', alt:"FURIMA", height:"33px", width:"120px"
    %p.CompanyName
      ©︎ FURIMA, Inc.