.Main__pickup-category__box__lists
  - category.each do |item|
    .Main__pickup-category__box__lists__list
      = link_to item_path(item.id) do
        =link_to "/products/8" do
          .Main__pickup-category__box__lists__list__img
            = image_tag "#{item.images[0].url.url}"
          .Main__pickup-category__box__lists__list__body
            = item.name
            .Main__pickup-category__box__lists__list__body__details
              %ul
                %li 
                  = "¥#{item.price.to_s(:delimited)}"
                %li
                  =icon('fa','star',class: 'like-icon')
                  0
              %p (税込)
        -if item.buyer_id.present? 
          .items-box_photo__sold
            .items-box_photo__sold__inner
              SOLD