.Toppage-header__content
  .Toppage-header__content__top
    %h1.Toppage-header__content__top__icon
      =link_to '/' , target: '_self' do
        =image_tag 'logo/logo.png' ,alt:"画像表示エラー" ,width: 140,height: 41
    .Toppage-header__content__top__form
      =form_with  url:"#",method: :post, local:true do |form|
        =form.text_field :search, placeholder: 'キーワードから探す',class: 'search-box'
        .search-btn
          =link_to  '#'  do
            =image_tag 'icon/icon-search 1.png',alt:"画像表示エラー" , size:20
  .Toppage-header__content__bottom
    .Toppage-header__content__bottom__button
      %ul.Toppage-header__content__bottom__button__left-menu
        %li.Toppage-header__content__bottom__button__left-menu__category-list 
          .categories
            = link_to "categories", class: "category__search search__btn" do
              カテゴリー
            %ul.category__parent.category__list
              - @parents.each do |parent|
                %li
                  = link_to "#", class: "category__parent--name" do
                    = parent.name
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to "#", class: "category__child--name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#", class: " category__child--name" do
                                = grandchild.name 
        %li.Toppage-header__content__bottom__button__left-menu__brand-list
          =link_to "ブランド", '#' 
      %ul.Toppage-header__content__bottom__button__right-menu
        - if user_signed_in?
          %li.Toppage-header__content__bottom__button__right-menu_mypage
            = link_to "マイページ", edit_user_registration_path, method: :get
        - else
          %li.Toppage-header__content__bottom__button__right-menu__login
            = link_to "ログイン", new_user_session_path, method: :get
          %li.Toppage-header__content__bottom__button__right-menu__sign-up
            =link_to "新規会員登録", new_user_registration_path, method: :get 