.news
  .new
    = form_with model:@item, id: "new__items__form", local: true do |f| 
      .new__photo
        .new__photo__pop
          %label.new__all-terop
            出品画像
          %span.new__all-must
            必須
        .new__photo__terop
          最大4枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                .input-area
                  = i.file_field :url, type: 'file', name: "item[images_attributes][][url]", value:"", style: "display:none", id:"img-file"
                  %label{for: "img-file"}
                    %i.fas.fa-camera
      .new__explanation
        .new__explanation__pop
          %label.new__all-terop
            商品名
          %span.new__all-must
            必須  
        .new__all-box
          = f.text_field :name, class:"new__all__text-field", id: "item__name", placeholder: "40文字まで", maxlength: 40
          -# = render partial: 'error-messages', locals: {item: @item, column: "name"} 
        .new__all-heading
          %label.new__all-terop
            商品の説明
          %span.new__all-must
            必須  
        .new__explanation__area
          = f.text_area :introduce, class: "new__all__text-field new__explanation__area-field", id:"item__introduce",placeholder: "商品の説明 （必須 1,000文字以内)&#13;&#10;(色、素材、重さ、定価、注意点など)&#13;&#10;&#13;&#10;例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでお勧めです。".html_safe
          -# = render partial: 'error-messages', locals: {item: @item, column: "introduce"}   
        .new__explanation__length
          %span.new__length-child
            0/1000
          .new__length-par
      .new__show
        .new__show__pop
          商品の詳細
        %label.new__all-terop
          カテゴリー
        %span.new__all-must
          必須  
        .listing-form-box
          .listing-product-detail__category
            .listing-select-wrapper
              .listing-select-wrapper__box.new__all-box
                -# collection_select(オブジェクト名, メソッド名, 要素の配列, value属性の項目, テキストの項目 [, オプション or HTML属性 or イベント属性])
                = f.collection_select :category_id, Category.roots, :id , :name, {include_blank: "選択してください", selected: @item.category&.root_id}, required: true, class: "listing-select-wrapper__box--select new__all__text-field", id: "parent_category"
        .new__all-heading
          %label.new__all-terop
            ブランド
          %span.new__any
            任意  
        .new__all-box
          = f.text_field :brand, class: "new__all__text-field", placeholder: "例) シャネル"
        .new__all-heading
          %label.new__all-terop
            商品の状態
          %span.new__all-must
            必須  
        .new__all-box
          -# = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, {class:"new__all__text-field"}
          = f.collection_select :condition_id, Condition.all, :id , :name, {include_blank: "選択してください", selected: @item.condition}, required: true, class: " new__all__text-field"
      .new__send
        .new__send__pop
          .new__send__pop-msg
            配送について
          .new__send__pop-question
            = link_to "#", class:'new__send__pop-question new__all-link' do
              = icon('far','question-circle', class:'send__question__icon')
        .new__sall-heading
          %label.new__all-terop
            配送料の負担
          %span.new__all-must
            必須  
          .listing-form-delivery
          .listing-item-detail__delivery
            .listing-select-wrap
              .listing-select-wrap__box.new__all-box
                -# = f.select :delivery_id, @delivery_parent_array, {}, {class: 'listing-select-wrap__box--select new__all__text-field', id: 'parent_delivery'}
                = f.collection_select :delivery_id, Delivery.roots, :id , :method, {include_blank: "選択してください", selected: @item.delivery&.root_id}, required: true, class: "listing-select-wrap__box--select new__all__text-field", id: "parent_delivery"  
        .new__all-heading
          %label.new__all-terop
            発送元の地域
          %span.new__all-must
            必須
        .new__all-box
          -# = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class:"new__all__text-field"}
          = f.collection_select :prefecture_id, Prefecture.all, :id , :name, {include_blank: "選択してください", selected: @item.prefecture}, required: true, class: " new__all__text-field"
        .new__all-heading
          %label.new__all-terop
            発送までの日数
          %span.new__all-must  
            必須
        .new__all-box
          -# = f.collection_select :preparation_id, Preparation.all, :id, :days, {prompt: "選択してください"}, {class:"new__all__text-field"}
          = f.collection_select :preparation_id, Preparation.all, :id , :days, {include_blank: "選択してください", selected: @item.preparation}, required: true, class: " new__all__text-field"
      .new__price
        .new__price__pop
          .new__price__pop
            .new__price__pop-msg
              価格 (¥300〜9,999,999)
            .new__price__pop-question
              = link_to "#", class:'new__send__pop-question new__all-link' do
                = icon('far','question-circle', class:'price__question__icon')
        .new__price__price
          %label.new__all-terop
            販売価格
          %span.new__all-must
            必須 
          %span.span__price
            ¥    
          = f.number_field :price, class: "new__price__field"
        .new__price__fee
          .new__price__fee-price
            販売手数料 (10%)
          %span.new__price__fee-data
            ー
        .new__price__profit
          販売利益
          %span.new__price__profit-data
            ー
      .new__form
        = f.submit "出品する", class: "new__form-submit new__all-submit"
        = f.submit "下書きに保存", class: "new__form-draft new__all-submit"
        .new__form-back
          = link_to "#", class:'new__form-back__link new__all-link' do
            もどる
      .new__bottom
        禁止されている
        %a{ href:"#", class:"new__all-link"}
          行為
        および
        %a{ href:"#", class:"new__all-link"}
          出品物
        を必ずご確認ください。
        %a{ href:"#", class:"new__all-link"}
          偽ブランド品
        や
        %a{ href:"#", class:"new__all-link"}
          盗品物
        などの販売は犯罪であり、法律により処罰される可能性があります。また、出品を持ちまして
        %a{ href:"#", class:"new__all-link"}        
          加盟店規約
        に同意したことになります。

