.Toppage-header__content
  .Toppage-header__content__top
    %h1.Toppage-header__content__top__icon
      =link_to '/' , target: '_self' do
        =image_tag 'logo/logo.png' ,alt:"画像表示エラー" ,width: 140,height: 41
    .Toppage-header__content__top__form
      = search_form_for @search,url: search_items_path do |f|
        =f.search_field :name_or_introduce_cont, placeholder: 'キーワードから探す',class: 'search-box'
        .search-btn
          = f.submit "", {:id=>"fbtn"}
          %label{for: "fbtn" }
            %i.fas.fa-search
  .Toppage-header__content__bottom
    .Toppage-header__content__bottom__button
      %ul.Toppage-header__content__bottom__button__left-menu
        %li.Toppage-header__content__bottom__button__left-menu__category-list 
          .categories
            = link_to "categories", class: "category__search search__btn" do
              カテゴリー
            %ul.category__parent.category__list
              - @parents.each do |parent|
                %li
                  = link_to "#", class: "category__parent--name" do
                    = parent.name
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to "#", class: "category__child--name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#", class: " category__child--name" do
                                = grandchild.name 
        %li.Toppage-header__content__bottom__button__left-menu__brand-list
          =link_to "ブランド", '#' 
      %ul.Toppage-header__content__bottom__button__right-menu
        - if user_signed_in?
          %li.Toppage-header__content__bottom__button__right-menu_mypage
            = link_to "マイページ", user_path(current_user)
        - else
          %li.Toppage-header__content__bottom__button__right-menu__login
            = link_to "ログイン", new_user_session_path, method: :get
          %li.Toppage-header__content__bottom__button__right-menu__sign-up
            =link_to "新規会員登録", new_user_registration_path, method: :get 
.search
  .search__search
    .search__box
      .search__box__in
        = search_form_for @search,url: search_items_path do |f|
          = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順':'price asc', ' 価格の高い順': 'price desc', '出品の新しい順': 'updated_at desc', 'お気に入りの多い順': 'bookmarks_count desc'},{ selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'})
          .search__heading
            %i.fas.fa-plus
            .search__head
              キーワードを追加する
          = f.search_field :name_or_introduce_cont, class:"search__all__text-field", id: "item__name", placeholder: "例) 値下げ", maxlength: 40
          .search__heading
            %i.fas.fa-tag
            .search__head
              ブランド名から探す
          = f.search_field :brand_cont,class:"search__all__text-field", id: "item__name", placeholder: "例) シャネル"
          .sc
            %h5.search__heading
              %i.fas.fa-coins
              .search__head
                価格
            #price__area
            .sc
              = f.number_field :price_gteq, placeholder: "¥ Min", class: 'search__all__text-field'
              .price-range__swang 〜
              = f.number_field :price_lteq, placeholder: "¥ Max", class: 'search__all__text-field'
            %h5.search__heading
              %i.fas.fa-star
              .search__head
                商品の状態
            .search__condition
              .search__condition__box
                .scarch__condition__wrap
                  %input{type: 'checkbox', id: 'status_all', class: 'js-checkbox-all'}
                .scarch__all
                  = label_tag :status_all, 'すべて'
              = f.collection_check_boxes :condition_id_in, Condition.all, :id, :name, include_hidden: false do |b|
                .search__label
                  .search__box__label
                    = b.check_box
                  .search__box__label
                    = b.label { b.text}
          = f.submit "検索する", class: "new__all-submit"
  .search__content
    .search__content__top
      .search__content__word 
        = (params[:q][:name_or_introduce_cont])
      .search__content__result
        の検索結果
    .search__content__all
      - @search_items.each do |item|
        .Main__pickup-category__box__lists__list
          = link_to item_path(item.id) do
            =link_to item_path(item.id) do
              .Main__pickup-category__box__lists__list__img
                = image_tag "#{item.images[0].url.url}"
              .Main__pickup-category__box__lists__list__body
                = item.name
                .Main__pickup-category__box__lists__list__body__details
                  %ul
                    %li 
                      = "¥#{item.price.to_s(:delimited)}"
                    %li
                      =icon('fa','star',class: 'like-icon')
                      - bookmarks_num = Bookmark.where(item_id: item.id).count
                      = bookmarks_num
                  %p (税込)
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD


- if user_signed_in? 
  =link_to new_item_path  do
    .purchase-btn
      %span.purchase-btn__text 
        出品する
      .purchase-btn__img
        =image_tag 'icon/icon_camera.png',alt:"画像表示エラー" ,size:54
- else
  = link_to new_user_session_path do
    .purchase-btn
      %span.purchase-btn__text 
        出品する
      .purchase-btn__img
        =image_tag 'icon/icon_camera.png',alt:"画像表示エラー" ,size:54