.shows
  .show
    .show__main
      .show__main__name
        product3
      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "show__main__image", alt: "イメージ1"
      %ul.show__main__list
        %li.show__main__child
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "show__main__child__image", alt: "イメージ2"  
        %li.show__main__child
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class: "show__main__child__image", alt: "イメージ3" 
        %li.show__main__child
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", class: "show__main__child__image", alt: "イメージ4"
      .show__main__box
        .show__main__box__price
          ¥30000
        .show__main__box__detail
          (税込) 送料込み
      .show__main__explanation
        親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      .show__main__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                hoge
            %tr
              %th
                カテゴリー
              %td
                = link_to "#", class: 'category__link show-link' do
                  ベビー・キッズ
                %br
                = link_to "#", class: 'category__link show-link' do
                  ベビー服(男女兼用) ~95cm
                %br
                = link_to "#", class: 'category__link show-link' do
                  アウター
            %tr
              %th
                ブランド
              %td
            %tr
              %th
                商品のサイズ
              %td
            %tr
              %th
                商品の状態
              %td
                未使用に近い
            %tr
              %th
                配送料の負担
              %td
                送料込み（出品者負担）
            %tr
              %th
                発送元の地域
              %td
                = link_to "#", class: 'category__link show-link' do
                  岩手県
            %tr
              %th
                発送の目安
              %td
                4-7日で発送                        
            
      .show__main__option
        -# = link_to "#", class:'favorite__link show-link' do
        %ul.show__favorite
          %li.show__favorite__child
            - if @item.bookmark_by?(current_user)
              %span お気に入り解除
              = link_to bookmark_path, method: :delete, id:"js-bookmark-button-for-item" do
                = icon('fas','star', class:'show__favorite__icon')
            - else
              %span お気に入り
              = link_to bookmarks_path, method: :post, id:"js-bookmark-button-for-item" do
                = icon('far','star', class:'show__favorite__icon') 
          %li.show__favorite__child
            0 
        = link_to "#", class:'optional__link' do
          %ul.show__optional
            %li.show__optional__child 
              = icon('fas', 'flag',class:'show__optional__icon') 
            %li.show__optional__child
              不適切な商品の報告
    .show__middle
      .show__middle__form
        = form_with url:"#", class: 'show__comment' do |f|
          = f.text_area :comment, class:'show__comment__form'
          .show__comment__msg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = icon('fas','comment', class:'show__comment__icon')
          = f.submit 'コメントする', class: 'show__comment__btn'     
    .show__pagenation
      = link_to "#", class: 'show-link' do
        .show__pagenation__prev
          = icon('fas','angle-left', class:'show__prev__icon')
          前の商品
      = link_to "#", class: 'show-link' do
        .show__pagenation__next
          後ろの商品
          = icon('fas','angle-right', class:'show__next__icon')
    .show__bottom
      = link_to "#", class: 'show-link' do
        .show__bottom__msg
          ベビー ・ キッズをもっと見る
      = link_to "#", class: 'show-link' do    
        .show__bottom__content
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: "show__bottom__content__image", alt: "商品イメージ"
          .content__row
            %h3.content__row-name
              ee
            .content__row-box 
              %ul.content__row-box
                %li.content__row-price
                  1000円
                %li.content__row-fav  
                  .content__row-fav
                    = icon('fas','star', class:'content__row-fav__icon')
                  .content__row-count
                    0     
            .content__row-tax       
              (税込)
