.Toppage-header
  =render partial: 'Toppage-header'



.shows
  .show
    .show__main
      .show__main__name
        =@item.name
      .show__main__image
        .show__flexbox
          = image_tag @item.images.first.url.to_s, class: "main-image",alt: "メインイメージ", size:500
          .sub-image
            - @item.images.each do |image|
              = image_tag image.url.url, alt: "イメージ1",size:150

      .show__main__box
        .show__main__box__price
          =@item.price 
          円
        .show__main__box__detail
          (税込)  送料込み
      
      -if @item.buyer_id == nil
        -if user_signed_in? &&  current_user.id != @item.saler_id 
          .show__main__purchase-btn
            =link_to purchase_item_path(@item.id) do
              %p 購入画面に進む
      -else
        .show__main__purchase-btn
          %p 売り切れました

      .show__main__explanation
        =@item.introduce
      .show__main__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                aaaa
            %tr
              %th
                カテゴリー
              %td
                -if @parent
                  =link_to categories_path(@parent), class:"category__link show-link" do
                    %p.category-btn
                      =@parent.name
                  %p.space
                - if @child
                  =link_to categories_path(@child), class:"category__link show-link" do
                    %p.category-btn
                      =@child.name
                  %p.space
                =link_to categories_path(@grandchild), class:"category__link show-link" do
                  %p.category-btn
                    =@grandchild.name
                %p.space
                %p.category-btn
                  =@item.name
            %tr
              %th
                ブランド
              %td
                =@item.brand
            -# %tr
              -# %th
              -#   商品のサイズ
              -# %td
            %tr
              %th
                商品の状態
              %td
                =@item.condition.name
                
            %tr
              %th
                配送料の負担
              %td
                =@item.delivery.method
            %tr
              %th
                発送元の地域
              %td
                = link_to "#", class: 'category__link show-link' do
                  = @item.prefecture.name
            %tr
              %th
                発送の目安
              %td
                =@item.preparation.days
      - if user_signed_in? && current_user.id == @item.saler_id
        = link_to  edit_item_path(@item.id),data:{turbolinks: false} do
          .show__main__btns
            .show__main__btns__edit
              %p 商品を編集する


      .show__main__option
        %ul.show__favorite
          %li.show__favorite__child
            - if @item.saler_id == current_user.id
              %span お気に入り
            - else
              - if @item.bookmark_by?(current_user)
                %span お気に入り解除
                = link_to bookmark_path(@item.id), method: :delete, id:"js-bookmark-button-for-item" do
                  = icon('fas','star', class:'show__favorite__icon')
              - else
                %span お気に入り
                = link_to bookmarks_path(@item.id), method: :post, id:"js-bookmark-button-for-item" do
                  = icon('far','star', class:'show__favorite__icon') 
          %li.show__favorite__child
            = @bookmarks_num
        = link_to "#", class:'optional__link' do
          %ul.show__optional
            %li.show__optional__child 
              = icon('fas', 'flag',class:'show__optional__icon') 
            %li.show__optional__child
              不適切な商品の報告
    .show__middle
      .show__middle__form
        = form_with url:"#", class: 'show__comment' do |f|
          = f.text_area :comment, class:'show__comment__form'
          .show__comment__msg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = icon('fas','comment', class:'show__comment__icon')
          = f.submit 'コメントする', class: 'show__comment__btn'
    .show__pagenation
      = link_to "#", class: 'show-link' do
        .show__pagenation__prev
          = icon('fas','angle-left', class:'show__prev__icon')
          前の商品
      = link_to "#", class: 'show-link' do
        .show__pagenation__next
          後ろの商品
          = icon('fas','angle-right', class:'show__next__icon')
    
    .show__bottom
      = link_to "#", class: 'show-link' do
        .show__bottom__msg
          ベビー ・ キッズをもっと見る
      = link_to "#", class: 'show-link' do
        .show__bottom__content
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: "show__bottom__content__image", alt: "商品イメージ"
          .content__row
            %h3.content__row-name
              ee
            .content__row-box 
              %ul.content__row-box
                %li.content__row-price
                  1000円
                %li.content__row-fav  
                  .content__row-fav
                    = icon('fas','star', class:'content__row-fav__icon')
                  .content__row-count
                    0     
            .content__row-tax 
              (税込)

.Main__banner
  =render partial: 'Toppage-banner'

.Toppage-footer
  =render partial: 'Toppage-footer'

